body {
    background: url(couple-beautiful-moment.jpg);
}

:root {
    --deft: 100px;
    --deft-sub: 50px;
    --opa: 1.0;
}

.wrapper {
    perspective: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cube-box {
    width: 200px;
    height: 200px;
    margin: auto;
    transform-style: preserve-3d;
}

.cube-box-sub {
    width: 100px;
    height: 100px;
    margin: auto;
    transform-style: preserve-3d;
    transform: translateY(50px);
}

.cube-box>img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    transition: 0.5s;
    object-fit: cover;
    opacity: var(--opa);

    border-radius: 1.5rem;
    box-shadow: 0 0 20px 5px #e048cc;
}

.cube-box-sub>img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    transition: 0.5s;
    object-fit: cover;
    opacity: 1.0;

    border-radius: 2rem;
}

.cube-box img:nth-child(1) {
    transform: rotateY(0deg) translateZ(var(--deft));
}

.cube-box img:nth-child(2) {
    transform: rotateY(90deg) translateZ(var(--deft));
}

.cube-box img:nth-child(3) {
    transform: rotateY(180deg) translateZ(var(--deft));
}

.cube-box img:nth-child(4) {
    transform: rotateY(-90deg) translateZ(var(--deft));
}

.cube-box img:nth-child(5) {
    transform: rotateX(90deg) translateZ(var(--deft));
}

.cube-box img:nth-child(6) {
    transform: rotateX(-90deg) translateZ(var(--deft));
}

.cube-box-sub img:nth-child(1) {
    transform: rotateY(0deg) translateZ(var(--deft-sub));
}

.cube-box-sub img:nth-child(2) {
    transform: rotateY(90deg) translateZ(var(--deft-sub));
}

.cube-box-sub img:nth-child(3) {
    transform: rotateY(180deg) translateZ(var(--deft-sub));
}

.cube-box-sub img:nth-child(4) {
    transform: rotateY(-90deg) translateZ(var(--deft-sub));
}

.cube-box-sub img:nth-child(5) {
    transform: rotateX(90deg) translateZ(var(--deft-sub));
}

.cube-box-sub img:nth-child(6) {
    transform: rotateX(-90deg) translateZ(var(--deft-sub));
}

.cube-box:hover {
    --deft: 200px;
    --deft-sub: 70px;
    --opa: 0.7;
}

.cube-box {
    animation: loops 15s linear infinite;
}


@keyframes loops {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 50s linear infinite;
    animation-duration: calc(200s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d75, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(150vh) scale(0);
    }

    100% {
        transform: translateY(0vh) scale(0.3);
    }
}

.x1 {
    left: 5%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.6;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 25%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.9;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}

.x3 {
    left: 55%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x4 {
    left: 72%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.9;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 0zs ease-in-out infinite alternate;
}

.x5 {
    left: 88%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
    left: 33%;
    opacity: 1;
    -webkit-animation: moveclouds 2s linear infinite, swayWays 1s ease-in-out infinite alternate;
    animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
    0% {
        transform: translateY(150vh);
    }

    100% {
        transform: translateY(-20vh);
    }
}

@keyframes moveclouds {
    0% {
        transform: translateY(150vh);
    }

    100% {
        transform: translateY(-20vh);
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes swayWays {
    0% {
        transform: rotate(12deg);
        left: -0.3%;
    }

    33% {
        transform: rotate(-2deg);
        left: 0.7%;
    }

    100% {
        transform: rotate(0deg);
        left: -12%;
    }
}

/* //  HEART CODE */
.altheart {
    background: url(img_twotoneheart.webp) no-repeat center;
    width: 24px;
    height: 21px;
    position: relative;
    display: block;
}

.heart {
    position: relative;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 18px;
    top: 0;
    width: 18px;
    height: 30px;
    background: #CC2022;
    -moz-border-radius: 20px 50% 0 0;
    border-radius: 30px 30px 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}